img {
	border-radius: 50%;
	/* height:100px;
    width:100px; */
	/* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.card {
	background: white;
	/* background:#E0E0E0; */
	border-radius: 15px;
	/* color:#2874A6;  */
	/* color:#2E86C1; */
	box-shadow: 0 12px 24px #999, 0 12px 24px #999;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.gigMusician,
.gigpay {
	text-align: center;
}

.search-list {
	border-radius: 15px;
	background: #f5f5f5;
	/* background:white; */
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	margin: 20px;
	padding: 25px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.profile {
	color: #5499c7;
}

.card-body {
	background: #e0e0e0;
}

.navbar {
	color: black;
	font-family: 'Fira Sans', sans-serif;
	background: #afeeee;
	border-bottom: 10px solid grey;
	margin-bottom: 10px;
	background: white;
}
